

/* Mobil dizayn (300-500px) */
@media (max-width: 500px) {
  header {
    width: 98%;
    padding: 0 2px;
  }
  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    padding: 0.5rem 0.5rem;
    gap: 0.5rem;
  }
  nav .right h1 {
    font-size: 1.1rem;
    text-align: center;
  }
  nav .left {
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
    width: 100%;
  }
  nav .left a {
    font-size: 1rem;
    padding: 6px 0;
  }
  .main {

    min-height: 40rem;
    padding: 1rem 0.2rem;
    border-radius: 1.2rem;
    margin-top: 1rem;
  }
  .main h1 {
    font-size: 1.2rem;
    margin-top: 1rem;
  }
  .services-container {
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 1rem 0.2rem;
  }
  .services-container button {
    width: 70%;
    min-height: 10rem;
    padding: 1.2rem 0.5rem;
    font-size: 1rem;
    border-radius: 0.8rem;
  }
  .services-container h3 {
    font-size: 1rem;
  }
  .services-container p {
    font-size: 0.95rem;
  }
}
