@media (min-width:250px) and (max-width:500px) {
    header{
        width: 100%;
        height: 100dvh;
    }
    .xizmat{
        width: 90%;
        padding: 0px;
        gap: 0px;
        margin-top: 50px;
    }
    .xizmat-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
        padding: 5px;
    }
    .xizmat-content button{
        width: 100%;
        height: 100px;
    }
}